<h1>Editing postulant</h1>

<%= render "form", postulant: @postulant %>

<br>

<div>
  <%= link_to "Show this postulant", @postulant %> |
  <%= link_to "Back to postulants", postulants_path %>
</div>
